.landing-container {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
    url("../Images/Landing\ page\ image\ -\ Copy.jpg") center/cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", serif;
}

.overlay {
  text-align: center;
  color: rgb(255, 255, 255);
}

button {
  background-color: #ff4500;
  padding: 15px;
  border-radius: 60px;
  border: none;
  color: white;
  cursor: pointer;
  font-family: "Outfit", serif;
}
